html {
    scroll-behavior: smooth;
}

header, footer {
     text-align: center;
     background-color: #62d981;
     padding: 20px;
}
p {
    font-family: sans-serif;
}
body {
    background-color: #ffdc85;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 45px;
    text-align: center;
}
h2 {
    font-size: 35px;
    text-align: center;
}
h3 {
    font-size: 30px;
    text-align: center;
}
 nav a {
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: #62d981;
    background-color: yellow;
}
.logo {
    height: 100px;
    width: 150px;
    margin: 10px;
    margin-bottom: 40px;
}
.img {
    border: 3px solid blue;
    border-radius: 5px;
    height: 180px;
    width: 270px;
    margin: 10px;
}
.pheader {
    color: gray;
    background-color: #ffdc85;
}
