header, footer {
    background-color: #c3f7a1;
     text-align: center;
}
p {
    font-family: sans-serif;
}
body {
    background-color: #ffdc85;
    font-family: sans-serif;
}
h1 {
    font-size: 45px;
    text-align: center;
}
h2 {
    font-size: 35px;
    text-align: center;
}
h3 {
    font-size: 30px;
    text-align: center;
}
 a {
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: black;
}
.logo {
    height: 50px;
    width: 60px;
}
.img {
    border: 3px solid blue;
    border-radius: 5px;
    height: 180px;
    width: 270px;
    margin: 10px;
    
}
